<h1>Season <%= @season.season_number %>: <%= @season.name %></h1>

<h2>Contestants</h2>
  <% @season.season_contestants.each do |contestant| %>
  <h3><%= contestant.contestant.name %> - <%= contestant.contestant.sun_sign %></h3>
<% end %>
