<!-- HTML View -->
<h1>Survivor Winners by Sign</h1>

<% winner_by_sign do |data| %>
  <p><%= data %></p>
<% end %>

<h1>Survivor Contestants by Sign</h1>

<% by_sign do |data| %>
  <p><%= data %></p>
<% end %>

<h1>Percentage Wins</h1>
<% percent_win do |data| %>
  <p><%= data %></p>
<% end %>
